In [35]:
import os, io
from google.cloud import vision
from google.cloud.vision_v1 import types
import pandas as pd
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'ServiceAccountToken.json'

In [37]:
client = vision.ImageAnnotatorClient()

In [38]:
client

In [39]:
file_path = 'data'

for f in os.listdir(file_path):
    file = os.path.join(file_path, f)
    print(file)

data\data report-1.jpg
data\data report-2.jpg
data\data report-3.jpg
data\string report data-1.jpg
data\string report data-2.jpg
data\string report data-3.jpg
data\string report data-4.jpg

In [76]:
file = 'data\string report data-1.jpg'

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\bhuva\AppData\Local\Temp\ipykernel_4216\3698658321.py:1: SyntaxWarning: invalid escape sequence '\s'
  file = 'data\string report data-1.jpg'

In [77]:
with io.open(file, 'rb') as image_file:
    content = image_file.read()

In [78]:
image = vision.Image(content = content)

In [79]:
response = client.text_detection(image = image)

In [80]:
# Extract text annotations from the response object
texts = response.text_annotations
all_text = ""

# Loop through text annotations and extract the description
for text in texts:
    all_text += text.description + " "
print(all_text)

DATE:
19/08/24
ICR:
INV:
STRING CURRENT MEASUREMENT REPORT
SCB
TIME
STRING
STRING
STRING
STRING
STRING
1
2
16:01
3
4
5
STRING
6
STRING
TOTAL CURRENT
7
7.36
2
8.30 1.37
2.46
3.26
7.56
. 03
7.99
34.25
5.84
2.37 8.23
36:15
8.89
2.09
4.90
7.12
39.43
7.26
7.36
4
1.15
6.11
8.90
6.17
6.68
2.46
6.09
39.33
2.51
5 6:30
1.73
8.83
5.57
4.68
6.86
7.99
36.67
7.13
66:45
1.17
7.31
2.34
2.73
S-33
8.26
34
8.58
3.93
7
6:53
7.42
8.66
3.47
4.94
8.05
1.59
38.81
9.52
3.89
7.09
8
6:58
3.71
8.21 2.60
3.78
32
7.40
8.50
9
7:03
7.09
4.78
6.56
45
6.46
11.20
11.52
10
5.44
6.54
7:05
9.78
6.34
55.40
11
7:10 9-83
9.79
8.10
7.92
6.70
7.34
7.20
12.17
6.14
7.69
12.18
57.78
11.86
12
7:17
10.12
12.89
11.83
11.93
70-96
S.02
6-72
12.20
13
7:23
6-88
7.37
11.92
5.06
61.20
6.03
14 7:30
5.14 12.09
10.79
5.41
9.90
9.79
11.99
10.13
60.28
15 7:47
11.79 7.67
7
12.83
8.72
7.38
8.45
72.15
11.02
10-12
FAULTY STRINGS
O&M incharge sign
9.34
63.45
女
Tech. sign DATE : 19/08/24 ICR : INV : STRING CURRENT MEASUREMENT REPORT SCB TIME STRING STRING STRING STRING STRING 1 2 16:01 3 4 5 STRING 6 STRING TOTAL CURRENT 7 7.36 2 8.30 1.37 2.46 3.26 7.56 . 03 7.99 34.25 5.84 2.37 8.23 36:15 8.89 2.09 4.90 7.12 39.43 7.26 7.36 4 1.15 6.11 8.90 6.17 6.68 2.46 6.09 39.33 2.51 5 6:30 1.73 8.83 5.57 4.68 6.86 7.99 36.67 7.13 66:45 1.17 7.31 2.34 2.73 S - 33 8.26 34 8.58 3.93 7 6:53 7.42 8.66 3.47 4.94 8.05 1.59 38.81 9.52 3.89 7.09 8 6:58 3.71 8.21 2.60 3.78 32 7.40 8.50 9 7:03 7.09 4.78 6.56 45 6.46 11.20 11.52 10 5.44 6.54 7:05 9.78 6.34 55.40 11 7:10 9-83 9.79 8.10 7.92 6.70 7.34 7.20 12.17 6.14 7.69 12.18 57.78 11.86 12 7:17 10.12 12.89 11.83 11.93 70-96 S.02 6-72 12.20 13 7:23 6-88 7.37 11.92 5.06 61.20 6.03 14 7:30 5.14 12.09 10.79 5.41 9.90 9.79 11.99 10.13 60.28 15 7:47 11.79 7.67 7 12.83 8.72 7.38 8.45 72.15 11.02 10-12 FAULTY STRINGS O & M incharge sign 9.34 63.45 女 Tech . sign

In [72]:
# Save the extracted text to a file
with open("extracted_text.txt", "w") as file:
    file.write(all_text.strip())  # .strip() to remove any trailing spaces

In [75]:
import pandas as pd
import re

# Extract text annotations from the response object
texts = response.text_annotations

# Initialize an empty string to store the entire text extracted
all_text = ""

# Loop through text annotations and extract the description
for text in texts:
    all_text += text.description + " "

# Define a regex pattern to match the time and string values from the text
pattern = r"(\d+)\s(\d{1,2}:\d{2})\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)\s([\d\.]+)"
matches = re.findall(pattern, all_text)

# Initialize an empty list to store parsed data
parsed_data = []

# Loop through matches and store them as dictionary entries
for match in matches:
    entry = {
        'Index': match[0],
        'Time': match[1],
        'String 1': match[2],
        'String 2': match[3],
        'String 3': match[4],
        'String 4': match[5],
        'String 5': match[6],
        'String 6': match[7],
        'String 7': match[8],  # Added String 7
        'Total Current': match[9]
    }
    parsed_data.append(entry)

# Convert the parsed data into a pandas DataFrame
df = pd.DataFrame(parsed_data)


# Reset index after sorting
df.reset_index(drop=True, inplace=True)

# Display the DataFrame
display(df)

,Index,Time,String 1,String 2,String 3,String 4,String 5,String 6,String 7,Total Current
0,23,36:15,8.89,2.09,4.90,7.12,39.43,7.26,7.36,4
1,5,6:30,1.73,8.83,5.57,4.68,6.86,7.99,36.67,7.13
2,7,6:53,7.42,8.66,3.47,4.94,8.05,1.59,38.81,9.52
3,8,6:58,3.71,8.21,2.60,3.78,32,7.40,8.50,9
4,14,7:30,5.14,12.09,10.79,5.41,9.90,9.79,11.99,10.13
5,15,7:47,11.79,7.67,7,12.83,8.72,7.38,8.45,72.15
6,23,36:15,8.89,2.09,4.90,7.12,39.43,7.26,7.36,4
7,5,6:30,1.73,8.83,5.57,4.68,6.86,7.99,36.67,7.13
8,7,6:53,7.42,8.66,3.47,4.94,8.05,1.59,38.81,9.52
9,8,6:58,3.71,8.21,2.60,3.78,32,7.40,8.50,9
10,14,7:30,5.14,12.09,10.79,5.41,9.90,9.79,11.99,10.13
11,15,7:47,11.79,7.67,7,12.83,8.72,7.38,8.45,72.15

In [62]:
# Reading and cleaning data from 'extracted_text.txt'
file_path = 'extracted_text.txt'

# Open the file and read its content
with open(file_path, 'r') as file:
    data = file.readlines()

# Process the lines to format them as a table
cleaned_data = []
for line in data:
    # Remove any unwanted characters and split by spaces or tabs
    cleaned_line = line.strip().replace('-', '.').split()
    
    # Add cleaned lines that contain relevant data (e.g., numbers or times)
    if cleaned_line and cleaned_line[0][0].isdigit():  # Check if the line starts with a digit
        cleaned_data.append(cleaned_line)

# Print cleaned data
for row in cleaned_data:
    print(row)

['1']
['2']
['3']
['4']
['5']
['6']
['7']
['1']
['12:00']
['30.91']
['27.22']
['29.71']
['28.71']
['28.04']
['30.25']
['20.38']
['195.22']
['2']
['12:11']
['30.24']
['31.40']
['29.70']
['28.70']
['27.51']
['21.33']
['19.55']
['188.44']
['3']
['12:17']
['24.23']
['21.89']
['23.99']
['29.99']
['30.46']
['25.52']
['19.25']
['175.34']
['4']
['12:18']
['24.56']
['19.91']
['22.42']
['28.42']
['24.89']
['19.08']
['26.84']
['166.12']
['5']
['12:22']
['20.66']
['25.63']
['28.63']
['18.99']
['31.84']
['19.05']
['167.28']
['6']
['12:35']
['21.89']
['23.75']
['26.40']
['26.40']
['18.09']
['23.43']
['25.96']
['165.93']
['7']
['12:40']
['23.07']
['25.62']
['30.88']
['30.88']
['30.00']
['26.29']
['21.62']
['185.25']
['8']
['12:44']
['31.13']
['25.68']
['18.56']
['18.56']
['21.17']
['29.88']
['31.69']
['9']
['12:47']
['27.57']
['20.81']
['23.03']
['25.03']
['31.15']
['25.88']
['26.69']
['180.14']
['10']
['12:', '49']
['18.11']
['30.81']
['25.05']
['26.05']
['22.35']
['19.17']
['28.77']
['170.3']
['11']
['12:53']
['21.45']
['29.90']
['20.08']
['26.08', '23.20']
['30.12']
['29.16']
['1775']
['12']
['12:59', '31.76']
['22.35']
['20.83']
['20.83']
['18.04']
['30.14']
['28.30']
['172.25']
['13']
['1:00']
['27.82']
['19.84']
['27.53']
['27.58']
['29.53']
['18.63']
['28.29']
['179.22']
['14']
['1:08']
['20.70']
['28·25']
['19.43']
['18.48']
['21.76']
['20.28']
['23.93']
['152.83']
['15']
['1:20']
['22.87']
['24.22']
['20.08']
['20.30']
['19.25']
['18.43']
['27.48']
['152.62']

In [82]:
import pandas as pd
import re
import numpy as np


all_text
# Define a pattern to extract the data from the text
pattern = r'(\d+:\d+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)\s+([\d.-]+)'
matches = re.findall(pattern, all_text)

# Create a DataFrame from the extracted matches
columns = ["Time", "String 1", "String 2", "String 3", "String 4", "String 5", "String 6", "String 7", "Total Current"]
df = pd.DataFrame(matches, columns=columns)

# Replace invalid values with NaN and convert to float
def to_float(value):
    try:
        return float(value)
    except ValueError:
        return np.nan  # Replace with NaN if conversion fails

# Apply the conversion to all relevant columns
for col in columns[1:]:
    df[col] = df[col].apply(to_float)

# Display the cleaned DataFrame
display(df)

,Time,String 1,String 2,String 3,String 4,String 5,String 6,String 7,Total Current
0,36:15,8.89,2.09,4.90,7.12,39.43,7.26,7.36,4.00
1,6:30,1.73,8.83,5.57,4.68,6.86,7.99,36.67,7.13
2,6:53,7.42,8.66,3.47,4.94,8.05,1.59,38.81,9.52
3,6:58,3.71,8.21,2.60,3.78,32.00,7.40,8.50,9.00
4,7:03,7.09,4.78,6.56,45.00,6.46,11.20,11.52,10.00
5,7:10,NaN,9.79,8.10,7.92,6.70,7.34,7.20,12.17
6,7:23,NaN,7.37,11.92,5.06,61.20,6.03,14.00,7.00
7,7:47,11.79,7.67,7.00,12.83,8.72,7.38,8.45,72.15
8,36:15,8.89,2.09,4.90,7.12,39.43,7.26,7.36,4.00
9,6:30,1.73,8.83,5.57,4.68,6.86,7.99,36.67,7.13
10,6:53,7.42,8.66,3.47,4.94,8.05,1.59,38.81,9.52
11,6:58,3.71,8.21,2.60,3.78,32.00,7.40,8.50,9.00
12,7:03,7.09,4.78,6.56,45.00,6.46,11.20,11.52,10.00
13,7:10,NaN,9.79,8.10,7.92,6.70,7.34,7.20,12.17
14,7:23,NaN,7.37,11.92,5.06,61.20,6.03,14.00,7.00
15,7:47,11.79,7.67,7.00,12.83,8.72,7.38,8.45,72.15